<?xml version='1.0' encoding='utf-8'?>
<menu>
  <hot_dishes />
  <drinks />
  <alcohols />
  <desserts />
  <salads>
    <salad>
      <title>owieih</title>
      <price>10</price>
      <main_ingredient>wehf</main_ingredient>
    </salad>
  </salads>
  <bakeries />
  <soups />
  <breakfastMeals />
</menu>
