<?xml version='1.0' encoding='utf-8'?>
<menu>
  <hot_dishes />
  <drinks />
  <alcohols>
    <alcohol>

    </alcohol>
  </alcohols>
  <desserts>
    <dessert>

    </dessert>
  </desserts>
  <salads>
    <salad>

    </salad>
    <salad>

    </salad>
  </salads>
  <bakeries>
    <bakery>

    </bakery>
  </bakeries>
  <soups>
    <soup>

    </soup>
  </soups>
  <breakfastMeals>
    <breakfastMeal>

    </breakfastMeal>
  </breakfastMeals>
</menu>
